.clock-component {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    font-size: 46px !important;
    font-weight: 700 !important;
    font-family: monospace !important;

    padding: 6px 18px !important;
    border-radius: 10px !important;

    line-height: 1 !important;
}