body {
    font-family: Arial;
    width: 220px;
    padding: 10px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin: 8px 0;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}